/*个人登录后点击左边的"修改个人信息"，右边的iframe的"修改个人信息"的td的样式*/
.personal-ifram-1 {
	height: 30px;
	vertical-align: top;
}

/*个人登录后点击左边的"修改个人信息"，右边的iframe的"修改个人信息"的字体*/
.personl-ifram-char-1 {
	font-size: 18px;
	color: #169B00;
	text-align: left;
	font-weight: bold;
}

/*登录后导航菜单，一级*/
.menuTitle {
	font-size: 15px;
	font-weight: normal;
	color: #3366ff;
	cursor: pointer;
}

/*左边的导航框*/
.navigator-table-1 {
	width: 100%;
	border: 0px black solid;
	padding: 0px;
	margin: 0px;
}
/*导航栏菜单项可以缩起来或展开*/
#havesub td{
	height: 25px;
	vertical-align: top;
}
/*导航栏菜单项子菜单文字*/
.subitem-1 td{
	font-size: 13px;
}

.navigator-table-1 td {
	height: 30px;
	vertical-align: top;
}

table.subitem-1 tr td a:link{
	color: #3950bf;
	cursor: pointer;
	text-decoration: none;
}
table.subitem-1 tr td a:visited{
	color: #3950bf;
	cursor: pointer;
	text-decoration: none;
}
table.subitem-1 tr td a:hover{
	color: #e37a7a;
	cursor: pointer;
	text-decoration: underline;
}

/*欢迎界面*/
.webcome-head {
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	vertical-align: top;
}

/*欢迎界面下的文字*/
.welcome {
	font-size: 14px;
	line-height: 30px;
}

/*分割线 hr*/
.hr0 {
	height: 1px;
	border: none;
	border-top: 1px solid #AFCFEF;
	font-size: 1px;
}

/*************************注册页面样式**********************/
.databox {
	border-bottom: #cedaea 1px solid;
	border-left: #cedaea 0px solid;
	padding-bottom: 50px;
	background-color: #f2f8fc;
	margin: 0px auto;
	padding-left: 25px;
	width: 680px;
	padding-right: 20px;
	border-top: #cedaea 1px solid;
	border-right: #cedaea 0px solid;
}

.newinp {
	padding-bottom: 5px;
	margin-top: 2px;
	padding-left: : 5px;
	width: 203px;
	padding-right: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	vertical-align: middle;
	padding-top: 5px;
	border-bottom: #d4d4d4 1px solid;
	border-left: #d4d4d4 1px solid;
	border-top: #d4d4d4 1px solid;
	border-right: #d4d4d4 1px solid;
	width: 210px;
	height: 30px;
	font-size: 14px;
	/*background: url("<%=path%>/work/images/inp-bg.jpg") #feffe3 repeat-x left top;*/
}

.fenlan {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	margin: 15px 0px 10px;
	color: #0060c5;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

/*小框框*/
.xiaoshurukuang {
	border-bottom: #d4d4d4 1px solid;
	border-left: #d4d4d4 1px solid;
	border-top: #d4d4d4 1px solid;
	border-right: #d4d4d4 1px solid;
	height: 27px;
	width: 50px;
}

/*注册textarea样式*/
.text {
	border-bottom: #d5d5d5 1px solid;
	border-left: #d5d5d5 1px solid;
	border-right: #d5d5d5 1px solid;
	border-top: #d5d5d5 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	color: black;
}
/*返回首页的样式*/
.return-to-home {
	text-align: right;
	padding-right: 20px;
	text-decoration: none;
	font-size: 14px;
	color: #3950bf;
}
.return-to-home a{
	color: #3950bf;
}
/*************************注册页面样式 end **********************/

/*************************按钮******************/
/*确认修改*/
.confirm-verify{
	text-align:center;
	padding-bottom:0px;
	padding-top:0px;
	padding-left:5px;
	padding-right:5px;
	
	width:100px;
	height:40px;
	font-weight:bold;
	font-size:14px;
}
/*选择工种*/
.choose-wt{
	text-align:center;
	padding-bottom:0px;
	padding-top:0px;
	padding-left:5px;
	padding-right:5px;
	
	width:80px;
	height:30px;
	font-weight:normal;
	font-size:14px;
	cursor: pointer; 
	vertical-align: middle;
}
/*选择工种·超链接*/
.choose-wt2{
	font-weight: bold;
	text-decoration: underline;
	color: #3366FF;
}
/*select下拉框，需要和newinp相同长度的时候用此样式*/
.select-long{
	width: 210px;
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*************************按钮 end******************/

/*****************************控制超链接的颜色***********************************************************/

/*企业个人登录后左边的超链接，右边是iframe*/
.menuBlue0:link {
	font-size: 15px;
	color: #3950bf;
	text-decoration: none;
}
.menuBlue0:visited {
	font-size: 15px;
	color: #3950bf;
	text-decoration: none;
}

.menuBlue0:hover {
	font-size: 15px;
	color: #e37a7a;
	text-decoration: underline;
}



.menuBlue:link {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}
.menuBlue:visited {
	font-size: 14px;
	color: #810081;
	text-decoration: none;
}

.menuBlue:hover {
	font-size: 14px;
	color: #e37a7a;
	text-decoration: underline;
}

.menuBlue1:link {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuBlue1:visited {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuBlue1:hover {
	font-size: 14px;
	color: #e37a7a;
	text-decoration: underline;
}

/*工种查询页*/
.gz-query:link {
	font-size: 13px;
	color: #3950bf;
	text-decoration: none;
}

.gz-query:visited {
	font-size: 13px;
	color: #3950bf;
	text-decoration: none;
}

.gz-query:hover {
	font-size: 13px;
	color: #e37a7a;
	text-decoration: underline;
}

/*按地区找工作，超链接*/
.menuBlue2:link {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuBlue2:visited {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuBlue2:hover {
	font-size: 14px;
	color: #e37a7a;
	text-decoration: underline;
}

/*地区超链接*/
.menuArea:link {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuArea:visited {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuArea:hover {
	font-size: 14px;
	color: #e37a7a;
	text-decoration: underline;
}


/*
A:link {
	color: #3950bf;
	text-decoration: none;
}

A:hover {
	color: #e37a7a;
}

A:visited {
	color: #3950bf;
	text-decoration: none;
}
*/
/**/
.selected-qry-condition{
	font-size: 13px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
.selected-qry-condition16{
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}


/*这是地区，保证了东莞多区但不换行*/
/*
p.buzhuanhang-p{
	line-height:20px;
	margin-top: 10px;
	font-family: '宋体';
}

.buzhuanhang-tishi{
	font-size:13px;
	width: 35px;
	white-space: nowrap;
	float: left;
}
.buzhuanhang-diqu{
	font-size:13px;
	width: 713px;
	float: left;
}
.buzhuanhang-span{
	margin:0px;
	padding:0px;
	margin-right: 6px;
}
*/
/*这是地区，保证了东莞多区但不换行*/


/*登录后选择左边的超链接，改变右边的ifame，左边的超链接被选中变成下面的样式*/
.chosen-item{
	color: black !important;
	font-weight: bold;
}

/*****************************控制超链接的颜色**完*********************************************************/

/*选择工种的ifame加阴影，美化*/
#wtIframe{
	/*border: 0px;*/
	filter:progid:dximagetransform.microsoft.shadow(strength=4, direction=135, color='#cccccc'); 
	border-left: #c8c8c8 1px solid; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	padding-right: 0px; 
	background: #fff; 
	border-top: #c8c8c8 1px solid; 
	top: 0px; 
	border-right: #c8c8c8 1px solid; 
	padding-top: 0px; 
	left: 0px; 
	box-shadow: 3px 3px 4px #ccc; 
	-moz-box-shadow: 3px 3px 4px #ccc; 
	-webkit-box-shadow: 3px 3px 4px #ccc;
	
}

/*面包屑，访问过和没访问同颜色，鼠标悬停变色加下划线*/
.bread-crumb-1:link{
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.bread-crumb-1:hover{
	font-size: 14px;
	color: #e37a7a !important;
	text-decoration: underline !important;
}
.bread-crumb-1:visited{
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}
body {
	margin: 0px;
	background-repeat: no-repeat;
}

table {
	font-size: 14px;
}

/*电话号码，企业发布信息页面*/
.telNumber{
	color: black;
	font-family: '黑体';
	font-weight: bold;
	font-size: 16px;
}

/*input标签美化*/
.inp {
	border-bottom: #c8c8c8 1px solid;
	border-top: #c8c8c8 1px solid;
	border-left: #c8c8c8 1px solid;
	border-right: #c8c8c8 1px solid;
	vertical-align: bottom;
	height: 22px;
}

/*button美化*/ /*
.btn{
	border-bottom: medium none;
	border-left: medium none;
	border-top:medium none;
	border-right:medium none;
	
	padding-bottom: 6px;
	padding-left: 0px;
	padding-top:5px;
	padding-right:0px;
	
	text-align: center;
	width: 50px;
	padding-right: 0px;
	font-size: 12px;
	cursor: pointer;
	background-color: #F2F2F2;
}*/ /*提示截图*/
.tishijietu1 {
	background-image: url(<%=path %>/work/tishi/images/tishi.gif) !important
		;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.tishijietu2 {
	background-image: url(<%=path %>/work/tishi/images/tishi.gif) !important
		;
	background-repeat: repeat-y;
	background-position: 0px 50px;
}

.tishijietu3 {
	background-image: url(<%=path %>/work/tishi/images/tishi.gif) !important
		;
	background-repeat: no-repeat;
	background-position: 0px 198px;
}

/*红字*/
.redChar {
	color: red;
}

/*加红加粗*/
.redBoldChar {
	color: red;
	font-weight: bold;
}

.btn02 {
	width: 80px;
	height: 30px;
	border: 1px solid #87a3c1;
	font-size: 14px;
	font-weight: bold;
	color: white;
	line-height: 180%;
	cursor: pointer;
}

/*查看个人简历并分享*/
.shareResume {
	font-weight: bold;
	color: red;
	text-decoration: underline;
}

.tableTitle {
	font-size: 16px;
	font-weight: bold;
	color: #F62D2D;
}

/*大标题，例如：个人用户中心*/
.bigTitle {
	font-size: 18px;
	font-weight: bold;
	color: #F62D2D;
}

/*一般是从java代码后台传回的字符串*/
.message {
	font-size: 20px;
	font-weight: bold;
	color: #169B00;
}

.introduction {
	font-size: 14px;
	font-weight: normal;
	color: black;
}

/*登陆后右边的iframe的“提示信息”之类的字*/
.rightIfrm {
	font-size: 18px;
	font-weight: bold;
	color: #169B00;
}

/*工种信息标题enterpriseJobDesc.jsp、enterpriseJobDescMedi.jsp*/
.menuTitle2 {
	font-size: 16px;
	font-weight: bold;
	color: #3366ff;
	height: 45px;
}

.menuTitle1 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

.help {
	padding: 10px 10px 10px 40px;
	font-size: 14px;
	color: #666666;
	line-height: 100%;
}

.tableInput {
	
}

.tableInput th {
	font-size: 12px;
	color: #000000;
	background-color: #fff9f9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e37a7a;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e37a7a;
	padding: 0px;
}

.fontNormal {
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}

.tableInput td {
	background-color: #f9f9f9;
	font-size: 12px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e37a7a;
}

#persionInfomation {
	border: 2px solid #e37a7a;
	background-color: #fff9f9;
}

.textline {
	line-height: 200%;
}

#tablelist {
	background-color: #e37a7a;
}

#tablelist th {
	font-size: 12px;
	color: #F62D2D;
	background-color: #fff9f9;
	height: 30px;
}

#tablelist td {
	font-size: 12px;
	background-color: #f9f9f9;
}

#word {
	width: 364px;
	height: 45px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	background-image: url(../images/wordbg.gif);
	background-repeat: repeat-y;
}

#word #wordmain {
	width: 364px;
	height: 100%;
	margin: 0px;
	padding: 15px 15px 15px 20px;
	background-image: url(../images/word.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#word #wordbg {
	width: 364px;
	height: 100%;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	background-image: url(../images/wordbottom.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#allwidth {
	width: 1000px;
}

#bigfonttable {
	
}

#bigfonttable th {
	font-size: 16px;
}

#bigfonttable td {
	font-size: 16px;
}

.fontgray {
	font-size: 12px;
	color: #666666;
}

.menu {
	color: #0000ff;
}



.numberClass {
	font:10px/26px Verdana;
	color: #666;
}

/*按照区域（例如天河区）进行搜索的字体*/
.areaSectionSearch {
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}


/*旧的，粉红色*/
.tableHead2 td {
	font-size: 14px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e37a7a; /*灰色  #CCCCCC*/
	background-color: #fff9f9;
}

/*新的，浅蓝色*/
.tableHead td {
	font-size: 14px;
	border-top-style: solid;
	background-color: #D4F0FF;
	border-top-width: 1px;
	/*border-top-color: #0080FF;*/
	border-top-color: #D4F0FF;
	
}

.tableHeadGray td {
	font-size: 14px;
	border-top-style: solid;
	border-top-width: 1px;
	text-align:left;
	/*原来
	border-top-color: #0080FF; 灰色  #CCCCCC
	background-color: #D4F0FF;*/
	border-top-color: #CCCCCC; /*灰色  #CCCCCC*/
	background-color: #f9f9f9;
}

/*这是查询同一个企业相关的工作*/
.tableRowSameWork1 td{
	background-color: #ffffff;
	font-size: 14px;
	/*border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #D0E5F4;*/
}

.tableRowSameWork2 td {
	font-size: 14px;
	background-color: #f9f9f9;
	/*border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #D0E5F4;
	*/
}
.tableRowSameWork3 td {
	background-color: #FFFFCC;
	font-size: 14px;
	/*border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #F9E3E3;
	*/
}

/*旧的，粉红色*/ /*
.tableRow1 td{
background-color:#ffffff;
font-size:14px;	
border-top-style:solid;
border-top-width: 1px;
border-top-color:#F9E3E3;
}

.tableRow2 td{
font-size:14px;	
border-top-style:solid;
border-top-width: 1px;
border-top-color:#F9E3E3;
background-color:#f9f9f9;
}
*/ /*新的，浅蓝色*/
.tableRow1 td {
	background-color: #ffffff;
	font-size: 14px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #D0E5F4;
}

/*新的，浅蓝色*/
.tableRow2 td {
	font-size: 14px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #D0E5F4;
	background-color: #f9f9f9;
}

.tableRow3 td {
	font-size: 14px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #F9E3E3;
	background-color: #FFFFCC;
}

.line {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #d0e5f4;
}

.rightline {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #AFCFEF;
}

.linebottom {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #E6E6E6;
}

#userInfo {
	width: 180px;
	height: 45px;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	background-color: #D4F0FF;
	border: 1px solid #0080FF;
	line-height: 150%;
	font-size: 14px;
}

.companyName {
	font-size: 14px;
	color: #000000;
	font-weight: normal;
}

.bigName {
	font-size: 14px;
	color: #000000;
}

#tableDetail {
	background-color: #f1f1f1;
	border-collapse: collapse;
}

#tableDetail th {
	background-color: #DEF1FF;
	font-size: 14px;
	color: #666666;
	font-weight: normal;
	border: 1px solid #D4E4F3;
}

#tableDetail td {
	background-color: #ffffff;
	font-size: 14px;
	border: 1px solid #D4E4F3;
}

#tableDetail2 {
	border: 1px solid #f1f1f1;
	background-color: #ffffff;
	color: 3366ff;
}

#tableDetail2 th {
	background-color: #f9f9f9;
	font-size: 14px;
	color: #000000;;
}

#tableDetail2 td {
	background-color: #ffffff;
	font-size: 14px;
	color: #3366ff;;
}

#font14 td {
	font-size: 14px;
}

.telNum {
	font-size: 18px;
	color: red;
	font-weight: bold;
}

.borderlinebg {
	width: 100%;
	height: 30px;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	background-color: #f9f9f9;
	border: 1px solid #f1f1f1;
	line-height: 150%;
	font-size: 14px;
	color: black;
}

#vipmain {
	padding: 0px 0px 0px 20px;
}

.font12G {
	color: gray;
	font-size: 12px;
}

.bordergray {
	border: 1px solid #gray;
}

.focusOn {
	border-style: solid;
	border-color: blue;
	border-width: 2px;
}

.errorOn {
	border-style: solid;
	border-color: red;
	border-width: 2px;
}

#registerTable {
	font-size: 14px;
}

.registerInput {
	width: 250px;
}

/*立刻发送邮件，大按钮*/
.bigButton {
	width: 115px;
	height: 40px;
	font-weight: bold;
	font-size: 14px;
}

/*招聘列表下的提示信息*/
.bottomInfo {
	padding-top: 25px;
	/*border-top:#e37a7a 1px solid;*/
	font-size: 14px;
	text-align: left;
}

/*公司名称和公司行业之间的间距*/
.cpnyDutySpacing {
	font-weight: bold;
	height: 25px;
}

/*工种*/
.gz-table td{
	width: 90px;
}
span.weitianxie{
	color: gray;
	font-weight: normal;
}