/*涓汉鐧诲綍鍚庣偣鍑诲乏杈圭殑"淇敼涓汉淇℃伅"锛屽彸杈圭殑iframe鐨�"淇敼涓汉淇℃伅"鐨則d鐨勬牱寮�*/
.personal-ifram-1 {
	height: 30px;
	vertical-align: top;
}

/*涓汉鐧诲綍鍚庣偣鍑诲乏杈圭殑"淇敼涓汉淇℃伅"锛屽彸杈圭殑iframe鐨�"淇敼涓汉淇℃伅"鐨勫瓧浣�*/
.personl-ifram-char-1 {
	font-size: 18px;
	color: #169B00;
	text-align: left;
	font-weight: bold;
}

/*鐧诲綍鍚庡鑸彍鍗曪紝涓�绾�*/
.menuTitle {
	font-size: 15px;
	font-weight: normal;
	color: #3366ff;
	cursor: pointer;
}

/*宸﹁竟鐨勫鑸*/
.navigator-table-1 {
	width: 100%;
	border: 0px black solid;
	padding: 0px;
	margin: 0px;
}
/*瀵艰埅鏍忚彍鍗曢」鍙互缂╄捣鏉ユ垨灞曞紑*/
#havesub td{
	height: 25px;
	vertical-align: top;
}
/*瀵艰埅鏍忚彍鍗曢」瀛愯彍鍗曟枃瀛�*/
.subitem-1 td{
	font-size: 13px;
}

.navigator-table-1 td {
	height: 30px;
	vertical-align: top;
}

table.subitem-1 tr td a:link{
	color: #3950bf;
	cursor: pointer;
	text-decoration: none;
}
table.subitem-1 tr td a:visited{
	color: #3950bf;
	cursor: pointer;
	text-decoration: none;
}
table.subitem-1 tr td a:hover{
	color: #e37a7a;
	cursor: pointer;
	text-decoration: underline;
}

/*娆㈣繋鐣岄潰*/
.webcome-head {
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	vertical-align: top;
}

/*娆㈣繋鐣岄潰涓嬬殑鏂囧瓧*/
.welcome {
	font-size: 14px;
	line-height: 30px;
}

/*鍒嗗壊绾� hr*/
.hr0 {
	height: 1px;
	border: none;
	border-top: 1px solid #AFCFEF;
	font-size: 1px;
}

/*************************娉ㄥ唽椤甸潰鏍峰紡**********************/
.databox {
	border-bottom: #cedaea 1px solid;
	border-left: #cedaea 0px solid;
	padding-bottom: 50px;
	background-color: #f2f8fc;
	margin: 0px auto;
	padding-left: 25px;
	width: 680px;
	padding-right: 20px;
	border-top: #cedaea 1px solid;
	border-right: #cedaea 0px solid;
}

.newinp {
	padding-bottom: 5px;
	margin-top: 2px;
	padding-left: : 5px;
	width: 203px;
	padding-right: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	vertical-align: middle;
	padding-top: 5px;
	border-bottom: #d4d4d4 1px solid;
	border-left: #d4d4d4 1px solid;
	border-top: #d4d4d4 1px solid;
	border-right: #d4d4d4 1px solid;
	width: 210px;
	height: 30px;
	font-size: 14px;
	/*background: url("<%=path%>/work/images/inp-bg.jpg") #feffe3 repeat-x left top;*/
}

.fenlan {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	margin: 15px 0px 10px;
	color: #0060c5;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

/*灏忔妗�*/
.xiaoshurukuang {
	border-bottom: #d4d4d4 1px solid;
	border-left: #d4d4d4 1px solid;
	border-top: #d4d4d4 1px solid;
	border-right: #d4d4d4 1px solid;
	height: 27px;
	width: 50px;
}

/*娉ㄥ唽textarea鏍峰紡*/
.text {
	border-bottom: #d5d5d5 1px solid;
	border-left: #d5d5d5 1px solid;
	border-right: #d5d5d5 1px solid;
	border-top: #d5d5d5 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	color: black;
}
/*杩斿洖棣栭〉鐨勬牱寮�*/
.return-to-home {
	text-align: right;
	padding-right: 20px;
	text-decoration: none;
	font-size: 14px;
	color: #3950bf;
}
.return-to-home a{
	color: #3950bf;
}
/*************************娉ㄥ唽椤甸潰鏍峰紡 end **********************/

/*************************鎸夐挳******************/
/*纭淇敼*/
.confirm-verify{
	text-align:center;
	padding-bottom:0px;
	padding-top:0px;
	padding-left:5px;
	padding-right:5px;
	
	width:100px;
	height:40px;
	font-weight:bold;
	font-size:14px;
}
/*閫夋嫨宸ョ*/
.choose-wt{
	text-align:center;
	padding-bottom:0px;
	padding-top:0px;
	padding-left:5px;
	padding-right:5px;
	
	width:80px;
	height:30px;
	font-weight:normal;
	font-size:14px;
	cursor: pointer; 
	vertical-align: middle;
}
/*閫夋嫨宸ョ路瓒呴摼鎺�*/
.choose-wt2{
	font-weight: bold;
	text-decoration: underline;
	color: #3366FF;
}
/*select涓嬫媺妗嗭紝闇�瑕佸拰newinp鐩稿悓闀垮害鐨勬椂鍊欑敤姝ゆ牱寮�*/
.select-long{
	width: 210px;
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*************************鎸夐挳 end******************/

/*****************************鎺у埗瓒呴摼鎺ョ殑棰滆壊***********************************************************/

/*浼佷笟涓汉鐧诲綍鍚庡乏杈圭殑瓒呴摼鎺ワ紝鍙宠竟鏄痠frame*/
.menuBlue0:link {
	font-size: 15px;
	color: #3950bf;
	text-decoration: none;
}
.menuBlue0:visited {
	font-size: 15px;
	color: #3950bf;
	text-decoration: none;
}

.menuBlue0:hover {
	font-size: 15px;
	color: #e37a7a;
	text-decoration: underline;
}



.menuBlue:link {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}
.menuBlue:visited {
	font-size: 14px;
	color: #810081;
	text-decoration: none;
}

.menuBlue:hover {
	font-size: 14px;
	color: #e37a7a;
	text-decoration: underline;
}

.menuBlue1:link {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuBlue1:visited {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuBlue1:hover {
	font-size: 14px;
	color: #e37a7a;
	text-decoration: underline;
}

/*宸ョ鏌ヨ椤�*/
.gz-query:link {
	font-size: 13px;
	color: #3950bf;
	text-decoration: none;
}

.gz-query:visited {
	font-size: 13px;
	color: #3950bf;
	text-decoration: none;
}

.gz-query:hover {
	font-size: 13px;
	color: #e37a7a;
	text-decoration: underline;
}

/*鎸夊湴鍖烘壘宸ヤ綔锛岃秴閾炬帴*/
.menuBlue2:link {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuBlue2:visited {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuBlue2:hover {
	font-size: 14px;
	color: #e37a7a;
	text-decoration: underline;
}

/*鍦板尯瓒呴摼鎺�*/
.menuArea:link {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuArea:visited {
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.menuArea:hover {
	font-size: 14px;
	color: #e37a7a;
	text-decoration: underline;
}


/*
A:link {
	color: #3950bf;
	text-decoration: none;
}

A:hover {
	color: #e37a7a;
}

A:visited {
	color: #3950bf;
	text-decoration: none;
}
*/
/**/
.selected-qry-condition{
	font-size: 13px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
.selected-qry-condition16{
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}


/*杩欐槸鍦板尯锛屼繚璇佷簡涓滆帪澶氬尯浣嗕笉鎹㈣*/
/*
p.buzhuanhang-p{
	line-height:20px;
	margin-top: 10px;
	font-family: '瀹嬩綋';
}

.buzhuanhang-tishi{
	font-size:13px;
	width: 35px;
	white-space: nowrap;
	float: left;
}
.buzhuanhang-diqu{
	font-size:13px;
	width: 713px;
	float: left;
}
.buzhuanhang-span{
	margin:0px;
	padding:0px;
	margin-right: 6px;
}
*/
/*杩欐槸鍦板尯锛屼繚璇佷簡涓滆帪澶氬尯浣嗕笉鎹㈣*/


/*鐧诲綍鍚庨�夋嫨宸﹁竟鐨勮秴閾炬帴锛屾敼鍙樺彸杈圭殑ifame锛屽乏杈圭殑瓒呴摼鎺ヨ閫変腑鍙樻垚涓嬮潰鐨勬牱寮�*/
.chosen-item{
	color: black !important;
	font-weight: bold;
}

/*****************************鎺у埗瓒呴摼鎺ョ殑棰滆壊**瀹�*********************************************************/

/*閫夋嫨宸ョ鐨刬fame鍔犻槾褰憋紝缇庡寲*/
#wtIframe{
	/*border: 0px;*/
	filter:progid:dximagetransform.microsoft.shadow(strength=4, direction=135, color='#cccccc'); 
	border-left: #c8c8c8 1px solid; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	padding-right: 0px; 
	background: #fff; 
	border-top: #c8c8c8 1px solid; 
	top: 0px; 
	border-right: #c8c8c8 1px solid; 
	padding-top: 0px; 
	left: 0px; 
	box-shadow: 3px 3px 4px #ccc; 
	-moz-box-shadow: 3px 3px 4px #ccc; 
	-webkit-box-shadow: 3px 3px 4px #ccc;
	
}

/*闈㈠寘灞戯紝璁块棶杩囧拰娌¤闂悓棰滆壊锛岄紶鏍囨偓鍋滃彉鑹插姞涓嬪垝绾�*/
.bread-crumb-1:link{
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}

.bread-crumb-1:hover{
	font-size: 14px;
	color: #e37a7a !important;
	text-decoration: underline !important;
}
.bread-crumb-1:visited{
	font-size: 14px;
	color: #3950bf;
	text-decoration: none;
}
body {
	margin: 0px;
	background-repeat: no-repeat;
}

table {
	font-size: 14px;
}

/*鐢佃瘽鍙风爜锛屼紒涓氬彂甯冧俊鎭〉闈�*/
.telNumber{
	color: black;
	font-family: '榛戜綋';
	font-weight: bold;
	font-size: 16px;
}

/*input鏍囩缇庡寲*/
.inp {
	border-bottom: #c8c8c8 1px solid;
	border-top: #c8c8c8 1px solid;
	border-left: #c8c8c8 1px solid;
	border-right: #c8c8c8 1px solid;
	vertical-align: bottom;
	height: 22px;
}

/*button缇庡寲*/ /*
.btn{
	border-bottom: medium none;
	border-left: medium none;
	border-top:medium none;
	border-right:medium none;
	
	padding-bottom: 6px;
	padding-left: 0px;
	padding-top:5px;
	padding-right:0px;
	
	text-align: center;
	width: 50px;
	padding-right: 0px;
	font-size: 12px;
	cursor: pointer;
	background-color: #F2F2F2;
}*/ /*鎻愮ず鎴浘*/
.tishijietu1 {
	background-image: url(<%=path %>/work/tishi/images/tishi.gif) !important
		;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.tishijietu2 {
	background-image: url(<%=path %>/work/tishi/images/tishi.gif) !important
		;
	background-repeat: repeat-y;
	background-position: 0px 50px;
}

.tishijietu3 {
	background-image: url(<%=path %>/work/tishi/images/tishi.gif) !important
		;
	background-repeat: no-repeat;
	background-position: 0px 198px;
}

/*绾㈠瓧*/
.redChar {
	color: red;
}

/*鍔犵孩鍔犵矖*/
.redBoldChar {
	color: red;
	font-weight: bold;
}

.btn02 {
	width: 80px;
	height: 30px;
	border: 1px solid #87a3c1;
	font-size: 14px;
	font-weight: bold;
	color: white;
	line-height: 180%;
	cursor: pointer;
}

/*鏌ョ湅涓汉绠�鍘嗗苟鍒嗕韩*/
.shareResume {
	font-weight: bold;
	color: red;
	text-decoration: underline;
}

.tableTitle {
	font-size: 16px;
	font-weight: bold;
	color: #F62D2D;
}

/*澶ф爣棰橈紝渚嬪锛氫釜浜虹敤鎴蜂腑蹇�*/
.bigTitle {
	font-size: 18px;
	font-weight: bold;
	color: #F62D2D;
}

/*涓�鑸槸浠巎ava浠ｇ爜鍚庡彴浼犲洖鐨勫瓧绗︿覆*/
.message {
	font-size: 20px;
	font-weight: bold;
	color: #169B00;
}

.introduction {
	font-size: 14px;
	font-weight: normal;
	color: black;
}

/*鐧婚檰鍚庡彸杈圭殑iframe鐨勨�滄彁绀轰俊鎭�濅箣绫荤殑瀛�*/
.rightIfrm {
	font-size: 18px;
	font-weight: bold;
	color: #169B00;
}

/*宸ョ淇℃伅鏍囬enterpriseJobDesc.jsp銆乪nterpriseJobDescMedi.jsp*/
.menuTitle2 {
	font-size: 16px;
	font-weight: bold;
	color: #3366ff;
	height: 45px;
}

.menuTitle1 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

.help {
	padding: 10px 10px 10px 40px;
	font-size: 14px;
	color: #666666;
	line-height: 100%;
}

.tableInput {
	
}

.tableInput th {
	font-size: 12px;
	color: #000000;
	background-color: #fff9f9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e37a7a;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e37a7a;
	padding: 0px;
}

.fontNormal {
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}

.tableInput td {
	background-color: #f9f9f9;
	font-size: 12px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e37a7a;
}

#persionInfomation {
	border: 2px solid #e37a7a;
	background-color: #fff9f9;
}

.textline {
	line-height: 200%;
}

#tablelist {
	background-color: #e37a7a;
}

#tablelist th {
	font-size: 12px;
	color: #F62D2D;
	background-color: #fff9f9;
	height: 30px;
}

#tablelist td {
	font-size: 12px;
	background-color: #f9f9f9;
}

#word {
	width: 364px;
	height: 45px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	background-image: url(../images/wordbg.gif);
	background-repeat: repeat-y;
}

#word #wordmain {
	width: 364px;
	height: 100%;
	margin: 0px;
	padding: 15px 15px 15px 20px;
	background-image: url(../images/word.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#word #wordbg {
	width: 364px;
	height: 100%;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	background-image: url(../images/wordbottom.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#allwidth {
	width: 1000px;
}

#bigfonttable {
	
}

#bigfonttable th {
	font-size: 16px;
}

#bigfonttable td {
	font-size: 16px;
}

.fontgray {
	font-size: 12px;
	color: #666666;
}

.menu {
	color: #0000ff;
}



.numberClass {
	font:10px/26px Verdana;
	color: #666;
}

/*鎸夌収鍖哄煙锛堜緥濡傚ぉ娌冲尯锛夎繘琛屾悳绱㈢殑瀛椾綋*/
.areaSectionSearch {
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}


/*鏃х殑锛岀矇绾㈣壊*/
.tableHead2 td {
	font-size: 14px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e37a7a; /*鐏拌壊  #CCCCCC*/
	background-color: #fff9f9;
}

/*鏂扮殑锛屾祬钃濊壊*/
.tableHead td {
	font-size: 14px;
	border-top-style: solid;
	background-color: #D4F0FF;
	border-top-width: 1px;
	/*border-top-color: #0080FF;*/
	border-top-color: #D4F0FF;
	
}

.tableHeadGray td {
	font-size: 14px;
	border-top-style: solid;
	border-top-width: 1px;
	text-align:left;
	/*鍘熸潵
	border-top-color: #0080FF; 鐏拌壊  #CCCCCC
	background-color: #D4F0FF;*/
	border-top-color: #CCCCCC; /*鐏拌壊  #CCCCCC*/
	background-color: #f9f9f9;
}

/*杩欐槸鏌ヨ鍚屼竴涓紒涓氱浉鍏崇殑宸ヤ綔*/
.tableRowSameWork1 td{
	background-color: #ffffff;
	font-size: 14px;
	/*border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #D0E5F4;*/
}

.tableRowSameWork2 td {
	font-size: 14px;
	background-color: #f9f9f9;
	/*border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #D0E5F4;
	*/
}
.tableRowSameWork3 td {
	background-color: #FFFFCC;
	font-size: 14px;
	/*border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #F9E3E3;
	*/
}

/*鏃х殑锛岀矇绾㈣壊*/ /*
.tableRow1 td{
background-color:#ffffff;
font-size:14px;	
border-top-style:solid;
border-top-width: 1px;
border-top-color:#F9E3E3;
}

.tableRow2 td{
font-size:14px;	
border-top-style:solid;
border-top-width: 1px;
border-top-color:#F9E3E3;
background-color:#f9f9f9;
}
*/ /*鏂扮殑锛屾祬钃濊壊*/
.tableRow1 td {
	background-color: #ffffff;
	font-size: 14px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #D0E5F4;
}

/*鏂扮殑锛屾祬钃濊壊*/
.tableRow2 td {
	font-size: 14px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #D0E5F4;
	background-color: #f9f9f9;
}

.tableRow3 td {
	font-size: 14px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #F9E3E3;
	background-color: #FFFFCC;
}

.line {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #d0e5f4;
}

.rightline {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #AFCFEF;
}

.linebottom {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #E6E6E6;
}

#userInfo {
	width: 180px;
	height: 45px;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	background-color: #D4F0FF;
	border: 1px solid #0080FF;
	line-height: 150%;
	font-size: 14px;
}

.companyName {
	font-size: 14px;
	color: #000000;
	font-weight: normal;
}

.bigName {
	font-size: 14px;
	color: #000000;
}

#tableDetail {
	background-color: #f1f1f1;
	border-collapse: collapse;
}

#tableDetail th {
	background-color: #DEF1FF;
	font-size: 14px;
	color: #666666;
	font-weight: normal;
	border: 1px solid #D4E4F3;
}

#tableDetail td {
	background-color: #ffffff;
	font-size: 14px;
	border: 1px solid #D4E4F3;
}

#tableDetail2 {
	border: 1px solid #f1f1f1;
	background-color: #ffffff;
	color: 3366ff;
}

#tableDetail2 th {
	background-color: #f9f9f9;
	font-size: 14px;
	color: #000000;;
}

#tableDetail2 td {
	background-color: #ffffff;
	font-size: 14px;
	color: #3366ff;;
}

#font14 td {
	font-size: 14px;
}

.telNum {
	font-size: 18px;
	color: red;
	font-weight: bold;
}

.borderlinebg {
	width: 100%;
	height: 30px;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	background-color: #f9f9f9;
	border: 1px solid #f1f1f1;
	line-height: 150%;
	font-size: 14px;
	color: black;
}

#vipmain {
	padding: 0px 0px 0px 20px;
}

.font12G {
	color: gray;
	font-size: 12px;
}

.bordergray {
	border: 1px solid #gray;
}

.focusOn {
	border-style: solid;
	border-color: blue;
	border-width: 2px;
}

.errorOn {
	border-style: solid;
	border-color: red;
	border-width: 2px;
}

#registerTable {
	font-size: 14px;
}

.registerInput {
	width: 250px;
}

/*绔嬪埢鍙戦�侀偖浠讹紝澶ф寜閽�*/
.bigButton {
	width: 115px;
	height: 40px;
	font-weight: bold;
	font-size: 14px;
}

/*鎷涜仒鍒楄〃涓嬬殑鎻愮ず淇℃伅*/
.bottomInfo {
	padding-top: 25px;
	/*border-top:#e37a7a 1px solid;*/
	font-size: 14px;
	text-align: left;
}

/*鍏徃鍚嶇О鍜屽叕鍙歌涓氫箣闂寸殑闂磋窛*/
.cpnyDutySpacing {
	font-weight: bold;
	height: 25px;
}

/*宸ョ*/
.gz-table td{
	width: 90px;
}
span.weitianxie{
	color: gray;
	font-weight: normal;
}
